#wrapper {
    border: 1px solid black;
    overflow: hidden;
}

#canvas_div{
    float: left;
    border: 1px solid black
}

#buttons_div{
    border: 1px solid black;
    overflow: hidden;
}
body{
    background-color: coral;
}
youpi{
    ame doux lila;
}